
@{
    Layout = null;
}


@{ 
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Hello from our View Template!</p>
<!--
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
    -->
